{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <a href="/m_{{ regelung }}/{{ haus.id }}/show/{{ regelung_id }}" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% if not active %}
            $("#wgrid").hide();
        {% endif %}
        $('#raumwetterlv').listview('refresh', true);
    });
    function toggleSlider() {
        $("#wgrid").toggle();
        $('#raumwetterlv').listview('refresh', true);
    }
</script>
<style type="text/css">
    input.ui-slider-input {
        display: none !important;
    }
    div.ui-slider-track {
        margin:0;
    }
    label.ui-btn {
        font-weight: normal;
    }
</style>

{% if regelung_obj.name %}
<a data-role="none" href="/m_{{ regelung }}/{{ haus.id }}/show/{{ regelung_id }}" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/heating-icons/icon_{{regelung_obj.icon}}.png" alt="icon">{{regelung_obj.name}}
    </div>
</a>
{% endif %}

<form action="/m_{{ regelung }}/{{haus.id}}/show/{{ regelung_id }}/wetter/" method="post" data-ajax='false' id='wrform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id='raumwetterlv'>
        <li data-role='list-divider'>Wettereinstellungen</li>
        {% if gactive %}
            <li>
                <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" onclick="toggleSlider();" name="wetter" value='1' {%if active%}checked{%endif%}/>Wettersteuerung aktiviert</label>
    
                <div id="wgrid">
                    <br/>
                    vorzeitig absenken bei steigenden Au&szlig;entemperaturen?
        
                    <div class="ui-grid-b">
                        <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;margin: 0px 0px !important;">
                            wenig
                        </div>
                        <div class="ui-block-b" style="max-width:100%;min-width:60% ; margin: 0px 0px 0px 0px !important;" >
                            <div style="margin: 0px 0px 0px 0px !important;">
                            <input style="margin: 0px 0px 0px 0px !important;" type="range" name="warm" id="warm" value="{{wetter_params.warm}}"
                                            min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                            data-popup-enabled="true"/>
                            </div>
                        </div>
                        <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                            viel
                        </div>
                    </div>
                
                    vorzeitig anheben bei sinkenden Au&szlig;entemperaturen?
                    
                    <div class="ui-grid-b">
                        <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right; padding-right:15px;padding-top:8px;">
                            wenig
                        </div>
                        <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                            <input type="range" name="kalt" id="kalt" value="{{wetter_params.kalt}}"
                                           min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                           data-popup-enabled="true"/>
                        </div>
                        <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">
                            viel
                        </div>
                    </div>
                </div>
            </li>
            <li data-icon='false' style="padding:0px;">
                <a href="#" onclick="$('#wrform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        {% else %}
            <li>
                <a href='/m_setup/{{haus.id}}/wetter/'>Wetter deaktiviert</a>
            </li>
        {% endif %}
    </ul>
</form>
{% endblock %}
