{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung set{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/heizflaechenoptimierung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#mitt-zeit-active").click(function() {
            if(this.checked) {
                $('#time_startmz').slider( "option", "disabled", false );
                $('#time_endmz').slider( "option", "disabled", false );
            } else {
                $('#time_startmz').slider( "option", "disabled", true );
                $('#time_endmz').slider( "option", "disabled", true );
            }
        });

        $("#heizflaechen_checkbox").click(function() {
            if(this.checked) {
                $('#heating_element_start_g').slider( "option", "disabled", false );
                $('#heating_element_end_g').slider( "option", "disabled", false );
            } else {
                $('#heating_element_start_g').slider( "option", "disabled", true );
                $('#heating_element_end_g').slider( "option", "disabled", true );
            }
        });

        $("#aussen_temp").click(function() {
            if(this.checked) {
                $('#flushing_interval_start_g').slider( "option", "disabled", false );
                $('#flushing_interval_end_g').slider( "option", "disabled", false );
            } else {
                $('#flushing_interval_start_g').slider( "option", "disabled", true );
                $('#flushing_interval_end_g').slider( "option", "disabled", true );
            }
        });

        $("#correction_of_heating").click(function() {
            if(this.checked) {
                $('#correction_heating_element_g').slider( "option", "disabled", false );
            } else {
                $('#correction_heating_element_g').slider( "option", "disabled", true );
            }
        });

        $("#overswing_checkbox").click(function() {
            if(this.checked) {
                $('#before_slider').slider( "option", "disabled", false );
            } else {
                $('#before_slider').slider( "option", "disabled", true );
            }
        });

        $("#underswing_checkbox").click(function() {
            if(this.checked) {
                $('#after_slider').slider( "option", "disabled", false );
            } else {
                $('#after_slider').slider( "option", "disabled", true );
            }
        });

        $(".heizflaechenoptimierung #select-type").change(function(){
            $(".heizflaechenoptimierung #one .slider-wrapper").addClass('hide');
            $(".heizflaechenoptimierung #one div[data-type='"+$(this).val()+"']").parent().removeClass('hide');
        });

        $(".heizflaechenoptimierung.set #one .ui-slider-input").on('slidestop',function(){
            var id = $(this).data('id'),
                number =  $(this).val(),
                name =  $(this).attr('name');

            $.ajax({
                url: '/m_heizflaechenoptimierung/{{ haus.id }}/',
                data: {
                    'number' : number ,
                    'id'     : id ,
                    'name'   : name,
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                    'singleroom': true
                },
                type: 'post',
                async: true,
                beforeSend: function() {
                    if(typeof startAjaxSlider === "function"){startAjaxSlider();}
                },
                complete: function() {
                    if(typeof endAjaxSlider === "function"){endAjaxSlider();}
                }
            });

        });
    });
</script>
<style type="text/css">
.p-label {
    margin-bottom: 0
}
#two .p-label {
    margin-bottom: 0;
    padding: 0 15px;
}
</style>

    <div data-role="tabs" id="tabs">

        <div data-role="navbar">
            <ul>
                <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
                <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" %}</a></li>
            </ul>
        </div>
        <div id="one" class="ui-body-d ui-content ui-alt-icon">
            <select name="select-type" id="select-type">
                <option value="time">&nbsp;&nbsp;&nbsp;{% trans "Mittelwert-Zeitraum Außentemperatur" %}</option>
                <option value="heating-element">&nbsp;&nbsp;&nbsp;{% trans "Heizflächentemperatur" %}</option>
                <option value="before-after">&nbsp;&nbsp;&nbsp;{% trans "Über- und Unterschwingschutz" %}</option>
                <option value="flushing-interval">&nbsp;&nbsp;&nbsp;{% trans "Außentemperaturabhängiges Spülintervall" %}</option>
                <option value="correction-heating-element">&nbsp;&nbsp;&nbsp;{% trans "Korrektur der Heizflächentemperatur" %}</option>
            </select>
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                <h2>{{ etage.name }}</h2>
                {% for raum, is_active, hfoparams, is_kimode_activated in raeume %}
                    <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>

                    <div class="slider-wrapper custom_slider range_slider">
                        <div data-role="rangeslider" data-id="{{ raum.id }}" data-type="time" data-mini="true" data-highlight="true" data-popup-enabled="true">

                            <label for="time_start" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="time_start" id="time_start" min="0" max="72" value="{{ hfoparams.time_start }}" step="1"/>

                            <label for="time_end" data-type="time" >Mittelwert-Zeitraum Außentemperatur</label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="time_end" id="time_end" min="0" max="72" value="{{ hfoparams.time_end }}" step="1"/>
                        </div>
                        <div class="label-before">von</div>
                        <div class="label-after">bis</div>
                    </div>

                    <div class="slider-wrapper custom_slider hide range_slider">
                        <div data-role="rangeslider" data-id="{{ raum.id }}" data-type="heating-element" data-mini="true"
                            data-highlight="true" data-popup-enabled="true">
                            <label for="heating_element_start" data-type="heating-element">
                                Heizflächentemperatur
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 or is_kimode_activated %}disabled="disabled"{% endif %}
                                name="heating_element_start" id="heating_element_start" min="20" max="80"
                                value="{{ hfoparams.heating_element_start }}" step=".1"/>

                            <label for="heating_element_end" data-type="heating-element">
                                Heizflächentemperatur
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 or is_kimode_activated%}disabled="disabled"{% endif %}
                                name="heating_element_end" id="heating_element_end" min="20" max="80"
                                value="{{ hfoparams.heating_element_end }}" step=".1"/>
                        </div>
                        <div class="label-before">bei +20 AT</div>
                        <div class="label-after">bei -20 AT</div>
                    </div>

                    <div class="slider-wrapper hide custom_slider range_slider">
                        <div data-role="rangeslider" data-id="{{ raum.id }}" data-type="before-after" data-mini="true"
                            data-highlight="true" data-popup-enabled="true">

                            <label for="before" data-type="before-after">
                                Über- und Unterschwingschutz
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="before" id="before" min="-5" max="0" value="{{ hfoparams.before }}" step=".1"/>

                            <label for="after" data-type="before-after">
                                Über- und Unterschwingschutz
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="after" id="after" min="0" max="5" value="{{ hfoparams.after }}" step=".1"/>

                        </div>
                        <div class="label-before">bei +20 AT</div>
                        <div class="label-after">bei -20 AT</div>
                    </div>

                    <div class="slider-wrapper hide custom_slider range_slider">
                        <div data-role="rangeslider" data-id="{{ raum.id }}" data-type="flushing-interval"
                            data-mini="true" data-highlight="true" data-popup-enabled="true">

                            <label for="flushing_interval_start" data-type="flushing-interval">
                                Außentemperaturabhängiges Spülintervall
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }} "type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="flushing_interval_start" id="flushing_interval_start" min="10" max="600"
                                value="{{ hfoparams.flushing_interval_start }}" step="1"/>

                            <label for="flushing_interval_end" data-type="flushing-interval">
                                Außentemperaturabhängiges Spülintervall
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" {% if not is_active.1 %}disabled="disabled"{% endif %}
                                name="flushing_interval_end" id="flushing_interval_end" min="10" max="600"
                                value="{{ hfoparams.flushing_interval_end }}" step="1"/>
                        </div>
                        <div class="label-before">bei -20 AT</div>
                        <div class="label-after">bei +20 AT</div>
                    </div>

                    <div class="slider-wrapper hide custom_slider">
                        <div id="correction-heating-element-wrapper" data-type="correction-heating-element">
                            <label for="correction_heating_element">
                                Korrektur der Heizflächentemperatur pro °C Abweichung der aktuellen Raumtemperatur
                            </label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" {% if not is_active.1 %}disabled="disabled"{% endif %} type="range"
                                name="correction_heating_element" id="correction_heating_element"
                                data-mini="true" data-highlight="true" step=".1" min="0" max="5"
                                value="{{ hfoparams.correction_heating_element }}"/>
                        </div>
                    </div>

                {% endfor %}
                <p/>
                {% endfor %}
            {% endfor %}
        </div>

        <div id="two">
            <form action="/m_heizflaechenoptimierung/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}

                <div class="ui-grid-a ui-alt-icon">

                    <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>

                    <div class="rangeslider-list">

                        <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                            <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                                <label for="time_startmz" >{% trans "Mittelwert-Zeitraum Außentemperatur" %}</label>
                                <input data-popup-enabled="true" type="range" name="time_start" id="time_startmz" min="0" max="72" value="0" step="1"/>
                                <label for="time_endmz">{% trans "Mittelwert-Zeitraum Außentemperatur" %}</label>
                                <input data-popup-enabled="true" type="range" name="time_end" id="time_endmz" min="0" max="72" value="5" step="1"/>
                            </div>
                            <input type="checkbox" checked name="mitt_zeit_active" id="mitt_zeit_active"/>
                            <div class="label-before">{% trans "von" %}</div>
                            <div class="label-after">{% trans "bis" %}</div>
                        </div>

                        <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                            <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                                <label for="heating_element_start_g">{% trans "Heizflächentemperatur" %}</label>
                                <input data-popup-enabled="true" type="range" name="heating_element_start" id="heating_element_start_g" min="20" max="80" value="22" step=".1"/>
                                <label for="heating-element-end_g">{% trans "Heizflächentemperatur" %}</label>
                                <input data-popup-enabled="true" type="range" name="heating_element_end" id="heating_element_end_g" min="20" max="80" value="40" step=".1"/>
                            </div>
                            <input type="checkbox" checked name="heizflaechen_checkbox" id="heizflaechen_checkbox"/>
                            <div class="label-before">{% trans "bei +20 AT" %}</div>
                            <div class="label-after">{% trans "bei -20 AT" %}</div>
                        </div>

                        <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                            <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                                <label for="flushing_interval_start_g">{% trans "Außentemperaturabhängiges Spülintervall:" %}</label>
                                <input data-popup-enabled="true" type="range" name="flushing_interval_start" id="flushing_interval_start_g" min="10" max="600" value="60" step="10"/>
                                <label for="flushing_interval_end_g">{% trans "Außentemperaturabhängiges Spülintervall:" %}</label>
                                <input data-popup-enabled="true" type="range" name="flushing_interval_end" id="flushing_interval_end_g" min="10" max="600" value="300" step="10"/>
                            </div>
                            <input type="checkbox" checked name="aussen_temp" id="aussen_temp"/>
                            <div class="label-before">{% trans "bei -20 AT" %}</div>
                            <div class="label-after">{% trans "bei +20 AT" %}</div>
                        </div>

                        <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                            <label for="before_slider">{% trans "Aktivitätsschwelle unterhalb Zieltemperatur (Überschwingschutz):" %}</label>
                            <input data-popup-enabled="true" type="range" name="before" id="before_slider" data-mini="true" data-highlight="true" step=".1" min="-5" max="0" value="-0.5"/>
                            <input type="checkbox" checked name="over-checkbox" id="overswing_checkbox"/>
{#                            <div class="label-after">{% trans "bei +20 AT" %}</div>#}
                        </div>

                        <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                            <label for="after_slider">{% trans "Aktivitätsschwelle oberhalb Zieltemperatur (Unterschwingschutz):" %}</label>
                            <input data-popup-enabled="true" type="range" name="after" id="after_slider" data-mini="true" data-highlight="true" step=".1" min="0" max="5" value="0.5"/>
                            <input type="checkbox" checked name="underswing_checkbox" id="underswing_checkbox"/>
{#                            <div class="label-after">{% trans "bei -20 AT" %}</div>#}
                        </div>

                        <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                            <label for="correction_heating_element_g">{% trans "Korrektur der Heizflächentemperatur pro °C Abweichung der aktuellen Raumtemperatur" %}</label>
                            <input data-popup-enabled="true" type="range" name="correction_heating_element" id="correction_heating_element_g" data-mini="true" data-highlight="true" step=".1" min="0" max="5" value="2"/>
                            <input type="checkbox" checked name="correction_of_heating" id="correction_of_heating"/>
                            <div class="label-after">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </div>

                    </div>
                </div>

                <div class="jahreskalender">
                    <div class="ui-grid-a select-room jahreskalender">
                        <fieldset data-role="controlgroup" data-iconpos="right">
                            <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                            <label id="select-all-label" for="select-all">{% trans "alle Räume auswählen" %}</label>
                            {% for e in eundr %}
                                {% for etage, raeume in e.items %}
                                <h2>{{ etage.name }}</h2>
                                <input type="checkbox" name="house-{{ etage.id }}" value="{{ etage.id }}" id="house-{{ etage.id }}" class="select-house"/>
                                <label for="house-{{ etage.id }}">alle auswählen</label>
                                {% for raum, is_active, hfoparams, is_kimode_activated in raeume %}
                                    <input type="checkbox" name="rooms" class="room" value="{{ raum.id }}" data-house="{{ etage.id }}" id="room-{{ raum.id }}" {% if not is_active.1 %}disabled="disabled"{% endif %}/>
                                    <label for="room-{{ raum.id }}"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</label>
                                {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            
                <input type="submit" value='{% trans "Speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn">
            </form>
        </div>
    </div>

{% endblock %}