{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}

    <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="margin-right:30px;"></a>

{% endblock %}

{% block mcontent %}

    <script type="text/javascript">
        var ids = [{% for device in devices %}{% if device.controller.get_autark %}'{{ device.get_type }}'+'*'+{{ device.id }},{% endif %}{% endfor %}];

        var id2cnt = new Object();
        {% for rfc in rfcontroller %}
            id2cnt[{{ rfc.0 }}] = 0;
        {% endfor %}

        var id2ctrl = new Object();
        {% for device in devices %}
            id2ctrl['{{device.get_type}}'+'*'+{{ device.id }}] = {{ device.controller_id }};
            id2cnt[{{ device.controller_id }}] += 1;
        {% endfor %}

        function sendChanges(val, name, obj) {
            var dev = name.split('_')[0];
            var typ = name.split('_')[1];
            var url = "/m_setup/{{ haus.id }}/rf/?dev="+dev+"&type="+typ+"&val=" + encodeURIComponent(val);
            $.ajax({
                url: url,
                async: false,
                success: function(data) {

		    if (typ == "newmac") {
			if (!data['error'])
				$(obj).text("Gerät wurde hinzugefügt.  Bitte Seite neu laden.");
			else
				$(obj).text(data['error']);
		    }
                    if(val == "undef" || data['error']) {
                        setMarker(false, name);
                    } else {
                        setMarker(true, name);
                    }

                    if(!data['error']) {
                        $("#fb1").text("Änderungen gespeichert");
                    } else {
                        $("#fb1").text("Änderungen nicht gespeichert");
                        var errorhtml = $("<p style='color:#cb0963'>" + data['error'] + "</p>");
                        $(jq(data['id'])).append(errorhtml);
                    }

                    if(typ == "autark") {
                        location.reload();
                    }

                    if(typ == "delete") {
                        if(obj === null || obj === undefined) location.reload();
                        $(obj).parent().append("<strong style='color:#cb0963;'>Gerät wurde gelöscht und wird beim nächsten Laden der Seite nicht mehr angezeigt.</strong>");
                        $(obj).parent().parent().parent().css('opacity', '0.7');
                        try {
                            $(obj).attr("onclick", "").unbind("click");
                            $(obj).prop("onclick", null).off('click');
                        }
                        catch(err) {
                            console.log(err.message);
                        }
                    }

                    if(typ == "raum") {
                        if(val == "undef") {
                            $(jq(dev) + '_mainsensor').attr('disabled', true);
                            if ($(jq(dev) + '_mainsensor').prop('checked')) {
                                $(jq(dev) + '_mainsensor').prop('checked', false);
                            }
                        } else {
                            $(jq(dev) + '_mainsensor').removeAttr('disabled');
                        }
                        if(data['mainsensor']) {
                            $(jq(dev)+'_mainsensor').attr('checked', true);
                        }
                        $(jq(dev)+'_mainsensor').checkboxradio('refresh');
                        if(!data['error']) {
                            $(jq(dev)+'_raum').selectmenu('refresh', true);
                        }
                        $(jq(dev) + '_configtemp_p').hide();
                    }

                    if((typ == "mainsensor" || (typ == "raum" && val != "undef")) && $(jq(dev)+'_mainsensor').prop('checked')) {
                        var raum = $(jq(dev)+"_raum").val();
                        $.each($("select[id$='raum']"), function(idx, r) {
                            var rid = r.id.split('_')[0];
                            if(r.value == raum && dev != rid) {
                                $(jq(rid) + '_mainsensor').prop('checked', false);
                                $(jq(rid) + '_mainsensor').checkboxradio('refresh');
                            }
                        });
                    }

                    if(typ == "type") {
                        $(jq(dev) + "_descshow").parent().parent().parent().parent().parent().parent().remove();
                        var $rfcsid = $("#rfcs_" + id2ctrl[dev]);
                        var $csetid = $("#cset_" + id2ctrl[dev]);
                        if(dev != data['id']) {
                            id2ctrl[data['id']] = id2ctrl[dev];
                            dev = data['id'];
                        }
                        $.ajax({
                            type: "GET",
                            url: "?d=" + dev,
                            success: function (text) {
                                if(!text.length) { return; }
                                response = text;
                                $rfcsid.append(response).collapsibleset('refresh');
                                $csetid.siblings().sort(function (a, b) {
                                    var aname = $(jq(a.id)).attr("name");
                                    var bname = $(jq(b.id)).attr("name");
                                    return aname - bname;
                                }).each(function () {
                                    var elem = this;
                                    elem.remove();
                                    $rfcsid.append(elem);
                                });
                                $rfcsid.trigger('create');
                                $(".chg").off('change').on('change', function() {
                                    var val = this.value;
                                    var name = this.name;
                                    sendChanges(val, name);
                                });
                            }
                        });
                        $rfcsid.collapsibleset('refresh');
                    }
                },
                error: function(data) {
                    $("#fb1").text("Änderungen nicht gespeichert");
                }
            });
            if(typ == "desc") {
                $(jq(dev)+"_descshow").html(" - " + val);
            }
        }

        function jq(myid) {
            return '#' + myid.replace(/[*]/g, "\\$&")
        }

        $(document).on( "pageshow", function() {
            $(".collapse").bind("collapse", function() {
                $("#fb1").text("");
            });
            $("select").bind("focus", function() {
                $("#fb1").text("");
            });

            $.each(ids, function(idx, id) {
                var response;
                var $rfcsid = $("#rfcs_" + id2ctrl[id]);
                var $csetid = $("#cset_" + id2ctrl[id]);
                $.ajax({
                    type: "GET",
                    url: "?d=" + id,
                    success: function (text) {
                        if(!text.length) { return; }
                        response = text;
                        $rfcsid.append(response).collapsibleset('refresh');
                        if($csetid.siblings().length == id2cnt[id2ctrl[id]]) {
                            $csetid.siblings().sort(function (a, b) {
                                var aname = $(jq(a.id)).attr("name");
                                var bname = $(jq(b.id)).attr("name");
                                if(isNaN(aname)) {
                                    return aname.localeCompare(bname);
                                } else {
                                    return aname - bname;
                                }
                            }).each(function () {
                                var elem = this;
                                elem.remove();
                                $rfcsid.append(elem);
                            });
                            $rfcsid.trigger('create');
                            $(".chg").off('change').on('change', function() {
                                var val = this.value;
                                var name = this.name;
                                sendChanges(val, name);
                            });
                        }
                    }
                });
                $rfcsid.collapsibleset('refresh');
            });
            {% for rfc in rfcontroller %}
                //$('.{{rfc.id}}cchg').change(function() {
                $('.{{rfc.0}}cchg').change(function() {
                    var val = this.value;
                    var name = this.name;
                    sendChanges(val, name);
                });
            {% endfor %}
        });

        function setMarker(isSet, which) {
            if(isSet) {
                $(jq(which)+"c").html("&#10003;");
                $(jq(which)+"c").css("color", "green");
            } else {
                $(jq(which)+"c").html("&#x2717;");
                $(jq(which)+"c").css("color", "red")
            }
        }
    </script>

    <style type="text/css">
        .ui-btn-text {font-weight:normal;}
    </style>

    <ul data-role="listview">
        <li data-role="list-divider" style="min-height: 20px">
            Angebundene Funk-Geräte
            <div style="float:right;" id="fb1"></div>
        </li>
    </ul>

    {% for rfc in rfcontroller %}

        <div data-role="collapsible-set" data-inset="false" id="rfcs_{{ rfc.0 }}">
            <div data-role="collapsible" class="collapse" id="cset_{{ rfc.0 }}">
                <h3>
                    <div style="float:left">
                        {% ifequal rfc.8 'btle' %}Funkchip Miniserver {% endifequal %}{{ rfc.1 }} {% ifnotequal rfc.6 "localhost" %} - Dropserver {% endifnotequal%}
                        {% if rfc.8 == 'enocean' %}
                            (transparenter Funk-Stick) {% ifnotequal rfc.3 macaddr %} {{rfc.3}} {% endifnotequal %}
                        {% elif rfc.8 == 'zwave' %}
                            (weißer Funk-Stick) {% ifnotequal rfc.3 macaddr %} {{rfc.3}} {% endifnotequal %}
                        {% endif %}
                    </div>

                    <div style="float: right">
                        {% if rfc.4 %}
                            {% for lrfc, vals in last_seen_rfc.items %}
                                {% ifequal rfc.1 lrfc %}
                                    <span style='color:{{ vals.1 }}'>&nbsp;&#8226;</span>
                                {% endifequal %}
                            {% endfor %}
                        {% else %}
                            {% ifequal datadest "mycontromecom" %}
                                my.controme.com
                            {% else %}
                                {{ datadest }}
                            {% endifequal %}
                        {% endif %}
                    </div>
                </h3>

                <p>
                    {% ifequal rfc.8 'zwave' %}Aufwachintervalle an diesem Controller für:{% endifequal %}
                    {% for ctrl, wi in battery_devices.items %}
                        {% if ctrl == rfc.1 %}

                            {% for type, typestring, fullname, interval, intervals in wi %}

                                <fieldset data-role="controlgroup" data-type="horizontal">
                                    <legend>{{ fullname }}</legend>
                                    <label>
                                        <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.0 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                               value="{{ intervals.0 }}" class="chg" {% if interval == intervals.0 %}checked{% endif %}/>
                                        kurz {% ifequal rfc.8 'btle' %}/ Installation{% endifequal %}
                                    </label>
                                    <label>
                                        <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.1 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                               value="{{ intervals.1 }}" class="chg" {% if interval == intervals.1 %}checked{% endif %}/>
                                        {% ifequal rfc.8 'zwave'%}
                                            mittel
                                        {% else %}
                                            Normalbetrieb
                                        {% endifequal %}
                                    </label>
                                    {% ifequal rfc.8 'zwave' %}
                                        <label>
                                            <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.2 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                                   value="{{ intervals.2 }}" class="chg" {% if interval == intervals.2 %}checked{% endif %}/>
                                            lang
                                        </label>
                                    {% endifequal %}
                                </fieldset>

                            {% endfor %}

                        {% endif %}                   
                    {% endfor %}
                    <a href="/m_setup/{{ haus.id }}/rf/?rfcreset={{ rfc.0 }}">Reset Punkte Übertragungsstatus</a><br />
                    Setzt Punkte auf rot zurück zur besseren Überprüfung neu eingehender Übertragungen.
                    </p>
                    {% ifequal rfc.6 "localhost" %}
                    {% ifequal rfc.8 "btle" %}
                        <button data-corners="false" id="bt" onclick="$( '#switchingPopup_{{rfc.0}}' ).popup('open');" style="font-weight: normal;">Gerät manuell hinzufügen</button>
                        Wenn ihnen die Bluetooth-Mac-Adresse des Gerätes bekannt ist, können Sie alternativ zum Discovery-Modus einen Bluetooth-Heizkörperthermostat manuell hinzufügen.
                        </p>



                        <div data-role="popup" id="switchingPopup_{{rfc.0}}">
                            <div style="text-align: center; font-weight: bold">
                                <span>BLE-Adresse hinzufügen</span>
                            </div>
                            <div>
                                {% csrf_token %}
                                <div class="elem">
                                    <input type="text" data-clear-btn="false" name="{{rfc.0}}_mac" id="{{rfc.0}}_mac" value="" />
                                </div>

                                <div style="text-align: center; font-weight: bold">
                                    Bitte die Adresse nach dieser Syntax eingeben:<br>
                                    xx:xx:xx:xx:xx:xx
                                </div>
                                <br />
                                <div style="text-align: center; font-weight: bold">Bitte wählen Sie den Gerätetyp aus:</div>
                                <div>
                                    <select name="{{rfc.0}}_type" id="{{rfc.0}}_type" class="chg1">
                                        <option value="hktControme" selected="selected">Controme Raumcontroller PRO</option>
                                        <option value="hktGenius">Heizkörperthermostat Genius</option>
                                        <option value="hkt">Heizkörperthermostat Comet</option>
                                        <option value="hkteTRV">Heizkörperthermostat eTRV</option>
                                    </select>

                                </div>
                                <script>
function add_{{rfc.0}} ()
{
    dev1 = document.getElementById('{{rfc.0}}_mac').value;
    nType = document.getElementById('{{ rfc.0 }}_type').value
  var myRe = /^([(A-F)|(a-f)|(0-9)][(A-F)|(a-f)|(0-9)]:){5}([(A-F)|(a-f)|(0-9)]){2}$/;
  if (dev1.match(myRe) == null)
  {
    $(dadd_{{rfc.0}}).text("Ungültige MAC-Adresse.");
    return;
  }
sendChanges(dev1,'{{rfc.0}}-'+nType +'_newmac',dadd_{{rfc.0}});
}
                                </script>
                                <div class="elem">
                                    <button onclick="add_{{rfc.0}}()">hinzufügen</button>
                                    <div style="text-align: center; font-weight: bold" id="dadd_{{rfc.0}}"></div>
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                    {% endifequal %}




                <hr/>

                <p>Letzte Anfrage:
                {% for lrfc, last in last_seen_rfc.items %}
                    {% ifequal rfc.1 lrfc %}
                        {% if last.0 %}
                            {{ last.0 }}
                            <div style="display:none" id="rfclast_{{ rfc.0 }}">{{ last.0 }}</div>
                        {% else %}
                             -
                        {% endif %}
                    {% endifequal %}
                {% endfor %}
                </p>

                <hr/>

                <fieldset data-role="controlgroup">
                    <input type="radio" name="{{ rfc.0 }}-{{ rfc.5 }}_autark" id="radio-choice-1" value="mycontromecom" {% ifequal rfc.6 "mycontromecom" %}checked="checked"{% endifequal %} class="{{rfc.0}}cchg"/>
                    <label for="radio-choice-1">Betrieb über my.controme.com</label>

                    <input type="radio" name="{{ rfc.0 }}-{{ rfc.5 }}_autark" id="radio-choice-2" value="localhost" {% ifequal rfc.6 "localhost" %}checked="checked"{% endifequal %} class="{{rfc.0}}cchg"/>
                    <label for="radio-choice-2">autarker Betrieb</label>

                    {% for rpi in rpis %}
                        <input type="radio" name="{{ rfc.0 }}-{{ rfc.5 }}_autark" id="radio-choice-{{ forloop.counter0|add:3 }}" value="{{ rpi.name }}" {% ifequal rfc.6 rpi.local_ip %}checked="checked"{% endifequal %} class="{{rfc.0}}cchg"/>
                        <label for="radio-choice-{{ forloop.counter0|add:3 }}">Betrieb über {{ rpi.name }}</label>
                    {% endfor %}
                </fieldset>

                <hr/>

                {% if rfc.8 == 'btle' or  rfc.8 == 'enocean'%}
                    <label for="{{ rfc.0 }}-{{ rfc.5 }}_discovery">Discovery Modus</label>
                    <input type="checkbox" name="{{ rfc.0 }}-{{ rfc.5 }}_discovery" id="{{ rfc.0 }}-{{ rfc.5 }}_discovery" class="{{ rfc.0 }}cchg" {% if rfc.9 %}checked="checked"{% endif %}/>
                    {% if rfc.8 == 'enocean'%}
                        <p style="font-size: small;">Wenn aktiviert, werden Funk-Signale von unbekannten Geräten jeweils als neues Gerät angelegt.</p>
                    {% endif %}
                    <hr/>
                {% endif %}

                <a href="/m_setup/{{ haus.id }}/rf/?rfcdel={{ rfc.0 }}">Controller entfernen</a>

                <hr/>

            </div>
        </div>
    {% endfor %}

{% endblock %}
