{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS- Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}page heizprogramm{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/heizprogramm/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a></span>
    <span><a href="/m_heizprogramm/{{ haus.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<input  type="hidden" id="haus-id" value="{{haus.id}}">
<ul data-role="listview" data-icon="false">
    
    <li class="heizprogramm-li">
        <span>
            <p style="text-align: center;font-size:16px;font-weight: bold;">
                neues Heizprogramm anlegen
            </p>
        </span>
    </li>
</ul>

<form action="/m_heizprogramm/{{ haus.id }}/?add" method="post" data-ajax="false" onsubmit="return checkForm();">
    {% csrf_token %}

    <div class="temp_set" style="padding: 10px;">
        <input type="text" name="heizprogramm_name" value="" placeholder="Enter name here">
        <div style="color: #cb0963;" id="begin_error"></div>
    </div>

    <input type="submit" value="speichern" style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>

</form>

{% endblock %}

