{% extends "m_base_new.html"%}
{% load fps_tags %}

{% block title %}Smart-Heat-OS - FPS{% endblock %}
{% block bodyclass %}page differenzregelung show fps{% endblock %}
{% block mheader %}

{% endblock %}

{% block mcontent %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#formulaeval").show();
            $("#fespinner").show();
            $("#formulaevalfc").hide();
            $.ajax({
            url: "/m_fps/{{ haus.id }}/show/{{ objid }}/?evaluate",
            dataType: "json",
            async: false,
            success: function(response) {
                let result_text = "";
                if(response['error']) {
                    var evaltext = response['error'];
                    $("#eval_label").css("color", "red");
                } else {
                    $("#eval_label").css("color", "black");
                    ret = true;
                    var evaltext = "<div class='var-rec'>A0 = " + response['A0'] + "</div>";
                    $('#result-value').text(response['A0'] );
                    evaltext += "<div class='letzter'>Letzter ausgegebener Wert {% if last != None %}{{ last }}{% else %}-{% endif %}</div>";
                    if(parseInt({{ config.variables.outs|length }}) > 0) {
                        evaltext += "<div class='var-rec'>momentane Werte der Ausgänge:</div>";
                        for (var i = 1; i <= {{ config.variables.outs|length }}; i++) {
                            if(response['A'+i] != undefined) {
                                evaltext += "<div class='var-rec'>A" + i + " = " + response['A' + i] + "</div>";
                            }
                        }
                    }
                    if(parseInt({{ config.variables.sensors|length }}) > 0) {
                        evaltext += "<div class='var-rec'>momentane Werte der Sensoren:</div>";
                        for (var i = 1; i <= {{ config.variables.sensors|length }}; i++) {
                            if(response['S'+i] != undefined) {
                                evaltext += "<div class='var-rec'>S" + i + " = " + response['S' + i] + "°</div>";
                            }
                        }
                    }

                    if(parseInt({{ config.variables.vars|length }}) > 0) {
                        evaltext += "<div class='var-rec'>momentane Werte der Variablen:</div>";
                        for (var i = 1; i <= {{ config.variables.vars|length }}; i++) {
                            if(response['V'+i] != undefined) {
                                evaltext += "<div class='var-rec'>V" + i + " = " + response['V' + i] + "</div>";
                            }
                        }
                    }
                    if(parseInt({{ config.variables.modulevariables|length }}) > 0) {
                        evaltext += "<div class='var-rec'>momentane Werte der Variablen:</div>";
                        for (var i = 1; i <= {{ config.variables.modulevariables|length }}; i++) {
                            if(response['M'+i] != undefined) {
                                evaltext += "<div class='var-rec'>M" + i + " = " + response['M' + i]+ "</div>";
                            }
                        }
                    }
                    result_text = response['result_text']

                }
                $("#result-text").text(result_text)
                $("#eval").html(evaltext).trigger('create');
                $("#fespinner").hide();
                $("#formulaevalfc").show();
                }
            });

            $(".varinput").on("slidestop", function() {
                $.ajax({
                    url: '/m_fps/{{ haus.id }}/show/{{ objid }}/',
                    data: {
                        'slidernumber' : $(this).val(),
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'slidername': this.name
                    },
                    type: 'POST',
                    async: true,
                    success: function (result) {
                        //window.location.reload();
                    },
                    beforeSend: function() {
                        if(typeof startAjaxSlider === "function"){startAjaxSlider();}
                    },
                    complete: function() {
                        if(typeof endAjaxSlider === "function"){endAjaxSlider();}
                    }
                });
            });
        });
    </script>

    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>
            <div class="diff-header">
                 <div class="diff-icon">
                     <a href="https://support.controme.com/frei-programmierbare-steuerung/" target="_blank">
                        <div class="bulb"><img src="/static/icons/bulb-icon-grey.png" width="25"/></div>
                     </a>
                 </div>
                 <div class="beam" {% if beam %}style="background-color:#b71e52;"{% endif %}></div>
{#                 </div>#}
                <div class="diff-name bold"><span style="color: #019BB0;">FPS:</span> {{ config.name }}</div>
                 <div class="diff-link"><a href="/m_setup/{{ haus.id }}/fps/edit/{{ objid }}/" target="_blank"><img src="/static/icons/settings-icon-grey.png" width="25"/></a></div>
            </div>
        </li>
        <li>
            <div class="result"><span id="result-value"></span></div>
            <div class="result" id="result-text"></div>
        </li>
        {% if show_details %}
            {% for var, val in config.variables.vars.items %}
            {% if 'name' not in var and 'slider' not in var %}
            {% if config.variables.vars|ret_show_slider:var %}
            <li>
            <div data-role="fieldcontain">
                <label style="font-size: 14px;" for="{{ var }}">{{ var|upper }} - {{ config.variables.vars|ret_name:var }}</label>
                <div class="row-slider"><input type="range" value="{{ val }}" id="{{ var }}_val" step="0.1" min="0" max="100" name="{{ var }}_val" data-mini="true" class="varinput"  data-popup-enabled="true" data-highlight="true"/></div>
            </div>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <li>
                <div class='var-rec'>Formel:</div>
                <div class='var-rec'>A0 = {{ config.formula }} </div>
                <div class='var-rec' style="margin-top: 10px;">Erläuterungen zur Formel:</div>
                <div class='var-rec' style="white-space: normal;">
                    {{ config.explanation_text }}
                </div>
            </li>
            <li>
                <div class='var-rec'>Zuordnungen:</div>
                {% for var_no, var_name in outs_details%}
                    <div class='var-rec'>{{ var_no|upper }} = {{ var_name }}</div>
                {% endfor %}
                {% for var_no, var_name in sensors_details%}
                    <div class='var-rec'>{{ var_no|upper }} = {{ var_name }}</div>
                {% endfor %}
                {% for var_no, var_name in mods_details%}
                    <div class='var-rec'>{{ var_no|upper }} = {{ var_name }}</div>
                {% endfor %}
            </li>
            <li id="formulaeval" style="display: none">
                <span id='fespinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>
                <div id="formulaevalfc">
                    <div class='var-rec'>Auswertung:</div>
                    <div name="eval" id="eval"></div>

                </div>
            </li>


        {% endif %} {# showing details #}

    </ul>
{% endblock %}
