{% extends "m_base.html"%}

{% block title %}KI Plot{% endblock %}

{% block mheader %}
   <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
   <a href="https://support.controme.com/apple-home-integration/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}ki{% endblock %}

{% block mcontent %}
   <style type="text/css">
       .green-font{
           padding-left: 15px;
           color: #67a540;
       }

       .red-font{
       padding-left: 15px;
           color: #cb0963;

       }

       .blue-font{
           color: #559ab2 !important;
       }

       .title{
           font-weight: bold;
       }
       .new-req .ui-icon.ui-icon-arrow-r.ui-icon-shadow{
           display: none;
       }
       #flot-placeholder{
           width:auto;
           height:350px;
        }
   </style>

<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
<script type="text/javascript">

    var data = {};
    var labels = {};

    var options = {
        lines: { show: true,
                 lineWidth: 1
        },
        legend: {
            noColumns: 2,
            container: "#legendcontainer"
        },
        series: {
            shadowSize: 0
        },
        grid: {
            markings: []
        }
    };

    function plot_data(){
        var data_array = JSON.parse("{{plot_values}}");
        var reg_points = JSON.parse("{{regression_points}}");
        var dataset = [
            {
                label: "Plot",
                data: data_array,
                points: {show: true},
                lines: {show: false}
            },
            {
                label: "Regression",
                data: reg_points,
                lines: {show: true},
                points: {show: false}
            }
            ];
        $.plot($("#flot-placeholder"), dataset, options);
    }

    /* ready Function: zeigt nur den leeren Plot an */
    $(document).ready(function() {
        $("#flot-placeholder").css("height", "400px");
    });

</script>


   <form method="post" action="/m_ki/{{ haus.id }}/plot/" data-ajax="false" id='kiplot'> {% csrf_token %}
       <ul data-role="listview" data-divider-theme="a" id="loglist">
           <li data-role="list-divider">
               KI Plot
           </li>
           {% if err %}
                <li data-role="list-divider">Fehler</li>
                <li>{{ err }}</li>
           {% else %}
               <li data-role='list-divider'>Plot</li>
               <div id="flot-placeholder"></div>

               <li style="color:#cb0963">{{ plot }}</li>
               <li data-role="list-divider" style="border-bottom: 1px solid #ccc">Haus id zum berechnen der linearen Regression: </li>
               <input type="number" data-clear-btn="false" name="haus" id="haus" value="" data-mini="true" style="margin: 0;"/>
               <li data-role="list-divider" style="border-bottom: 1px solid #ccc">Raumid zum berechnen der linearen Regression: </li>
               <input type="number" data-clear-btn="false" name="raum" id="raum" value="" data-mini="true" style="margin: 0;"/>
               <li data-role="list-divider" style="border-bottom: 1px solid #ccc">Durchschnittswert-Zeitraum in Tagen</li>
               <input type="number" data-clear-btn="false" name="t_intervall" id="t_intervall" value="" data-mini="true" style="margin: 0;"/>
               <li data-icon='false'>
                    <a href="#" onclick="$('#kiplot').get(0).submit();" style="text-align:center">Berechne Gerade/letzten Durchschnitt</a>
                    <a href="#" onclick="plot_data();" style="text-align:center" class="plot">Anzeigen</a>
               </li>
               <li data-role="list-divider" style="border-bottom: 1px solid #ccc">Durchschnittswert über das Zeitintervall: </li>
               <li style="color:#cb0963">{{ button }}</li>
           {% endif %}
       </ul>
   </form>
{% endblock %}