{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Luftfeuchte" noop %}{% endblock %}
{% block bodyclass %}luftfeuchte page{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/luftfeuchte/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
</style>
<a data-role="none" href="/m_raum/{{raum.id}}/" class="ui-link-inherit custome_a">
  <div class="room_wrapper"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{ raum.etage.name }} / {{ raum.name }}</div>
</a>
<form action="/m_raum/{{raum.id}}/luftfeuchte/" method="post" data-ajax='false' id='lfform'>
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role='list-divider'>{% trans "Luftfeuchtekorrektur-Einstellungen" noop %}</li>
        <li>
            <label for="initial">{% trans "Ausgangswert in % rel. Luftfeuchte" noop %}</label>
            <input data-id="{{raum.id}}" type="range" name="initial" id="initial" value="{{initial}}" min="30" max="70" step="1" data-mini="true"
                   data-highlight="true" data-popup-enabled="true"/>
        </li>
        <li>
            <label for="intensity">{% trans "Intensität" noop %}</label>
            <input data-id="{{raum.id}}" type="range" name="intensity" id="intensity" value="{{intensity}}" min="0.00" max="0.3" step="0.01" data-mini="true"
                   data-highlight="true" data-popup-enabled="true"/>
        </li>
        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        <!-- <li data-icon='false'>
            <a href="#" onclick="$('#lfform').get(0).submit();" style="text-align:center">{% trans "Speichern" noop %}</a>
        </li> -->
    </ul>
</form>

<ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
    <li>
        <a href="/m_luftfeuchte/{{ haus.id }}/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten">&nbsp;</span>
            mehrere Räume bearbeiten
        </a>
    </li>
</ul>
{% endblock %}