{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Logging{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block bodycls %}main-config-page logger{%endblock%}

{% block mcontent %}


    <form method="post" action="/m_setup/{{haus.id}}/logger/" data-ajax="false" id='loggerform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="loglist">

        <li data-role="list-divider">
            Logging
        </li>
        <li>
            <label style="margin:0px;border:0;" data-corners="false">
                <input type="checkbox" {%if r_m_active %}checked{%endif%}
                       name="right_menu" id="right-menu-ch" value='1'/>
                       Link zur Konfigurationsseite im rechten Menü anzeigen
            </label>

        </li>

        <li data-icon='false' style="padding:0px">
            <a href=" /m_logger/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
        </li>
        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li>
            <label for="vhz">Vorhaltezeit für Logs in Tagen</label>
            <input type="number" value="{{ vhz }}" min="1" max="31" id="vhz" name="vhz"/>
            <small>Der Wert muss zwischen 1 und 31 liegen. 1 bedeutet, dass jeden Tag alle Werte, die älter sind als ein Tag, aus der Datenbank entfernt werden.</small>
        </li>
        <li>
            <label for="sensor_intervall">Intervall zwischen gespeicherten Sensor-/Ausgangswerten in Sekunden</label>
            <input type="number" value="{{ sensor_intervall }}" min="0" max="3600" id="sensor_intervall" name="sensor_intervall"/>
            <small>Der Wert muss zwischen 0 und 3600 (=1h) liegen. 0 bedeutet, dass jeder Wert gespeichert wird, jeder Wert darüber, dass seit dem letzten gespeicherten Wert entsprechend viele Sekunden vergangen sein müssen.</small>
        </li>
        <li data-icon='false'>
            <a href="#" onclick="$('#loggerform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
        <li data-role="list-divider"> Datenbank zurücksetzen</li>
        <li>
            <a href="?reset=1">Datenbank zurücksetzen</a>
        </li>

    </ul>
    </form>

{% endblock %}
