{% extends "m/m_base_new.html" %}
{% block title %}Smart-Heat-OS - Vorlauftemperaturkorrektur{% endblock %}

{% block bodyclass %}page heizflaechenoptimierung set vorlauftemperatur{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/vorlauf-korrektur/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<a data-role="none" href="/m_raum/{{raum.id}}/" class="ui-link-inherit custome_a">
    <div class="title_room info"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}</div>
</a>

<div data-role="tabs" style="margin-top: -10px;">
    <div data-role="navbar">
        <ul>
            <li><a href="#one" data-ajax="false">Regelungsstatus</a></li>
            <li><a href="#two" data-ajax="false">Einstellungen</a></li>
        </ul>
    </div>

    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <div>
            <p/>
            <b>Berechnungsergebnis:</b>
            <ul>
                <li>Momentan relevante Raumtemperatur (Raum mit dem größten Offset): {{r_w_m_p_o}}</li>
                <li>Temperaturabweichung in diesem Raum: {{deviation}}</li>
                <li>Berechneter Offset für diesen Raum: {{offset}}</li>
                <li>Einstellung der Begrenzungsslider: -{{negative}}/{{positive}}</li>
                <li>Endergebnis der Berechnung: {{offset_limit}}</li>
            </ul>

            <p/>
            <b>Berechnungsplan:</b>
            <ul>
                <li>Zeitpunkt der letzten Berechnung: {{time_check_now}} </li>
                <li>geplante nächste Berechnung: {{time_check_next}} </li>
            </ul>

            <p/>
            <b>Raumberechnungen:</b>
            <ul>
                {% for item in list %}
                    <li>{{ item.0 }}; Abweichung: {{ item.1 }}; Multiplikator: -{{item.3}}/+{{item.4}}; Offset: {{ item.2 }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="two">
        <form action="/m_raum/{{ raum.id }}/vorlauftemperaturkorrektur/" method="post" data-ajax="false">{% csrf_token %}

            <div class="ui-grid-a ui-alt-icon">

                <div class="rangeslider-list">
                    <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="absenkung">
                    <label for="absenkung">Absenkung</label>
                    <input type="range" data-mini="true" name="absenkung" id="absenkung" data-highlight="true" value="{{ raum.get_vorlauftemperatur_params.0 }}" min="0" max="10" step="0.5">
                </div>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="anhebung">
                    <label for="anhebung">Anhebung</label>
                    <input type="range" data-mini="true" name="anhebung" id="anhebung" data-highlight="true" value="{{ raum.get_vorlauftemperatur_params.1 }}" min="0" max="10" step="0.5">
                </div>
                </div>
            </div>
            <input type="submit" value='Speichern' style="padding: 0px;" data-corners="false" class="ui-btn ui-btn"/>
        </form>
    </div>

</div>
{% endblock %}