{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Vorlauftemperaturregelung{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
{#        <a href="/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>#}
{% endblock %}

{% block mcontent %}
    <style type="text/css">
        div.ui-btn {
            font-weight: normal;
        }
    </style>

    <script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
    <script type="text/javascript">

        var data = {};
        var labels = {};

        var options = {
            lines: { show: true,
                     lineWidth: 1
            },
            xaxis: { mode: "time",
                timeformat: "%d.%m.<br/>%H:%M",
                timezone: "browser"
            },
            legend: {
                noColumns: 2,
                container: "#legendcontainer"
            },
            series: {
                shadowSize: 0
            }
        };

        $(document).ready(function() {
            {% for m, values in mischer.items %}
                $("#von_{{ m }}").val("{{ von }}");
                $("#bis_{{ m }}").val("{{ bis }}");
                data[{{ m }}] = {};
                labels[{{ m }}] = {};
                {% for sensor in values.sensors %}
                    getData("{{ m }}", "mischer_{{ m }}_{{ sensor }}");
                {% endfor %}
                getData("{{ m }}", "mischerout_{{ m }}");
                drawLog("{{ m }}");
            {% endfor %}
        });

        function getData(mid, objid) {
            var von = $("#von_"+mid).val();
            var bis = $("#bis_"+mid).val();
            $.ajax({
                url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
                dataType: "json",
                success: function(result) {
                    if(objid.indexOf("mischerout") > -1) {
                        data[mid][objid] = result[1];
{#                        data[mid]['position'] = result[2];#}
                        labels[mid][objid] = "Vorlauf Soll";
{#                        labels[mid]['position'] = "Mischerstellung";#}
                    } else {
                        data[mid][objid] = result[1];
                        if(objid.indexOf("inflow_cold") > -1) {
                            labels[mid][objid] = "Sensor Rücklauf";
                        } else if(objid.indexOf("inflow_hot") > -1) {
                            labels[mid][objid] = "Sensor Warm";
                        } else if(objid.indexOf("outflow") > -1) {
                            labels[mid][objid] = "Sensor Vorlauf";
                        } else {
                            labels[mid][objid] = "?";
                        }
                    }
                }
            }).complete(function() {
                $("#spinner_"+mid).hide();
                drawLog(mid);
            });
        }

        function drawLog(mid) {
            options["legend"]["container"] = "#legendcontainer_" + mid;

            var drawdata = [];
            $.each(data[mid], function(k, v) {
                drawdata.push({data: v, label: labels[mid][k]})
            });
            $("#placeholder_"+mid).css("height", "400px");
            $.plot($("#placeholder_"+mid), drawdata, options);

            $("#spinnerbr_"+mid).empty();
            $.each($("#legendcontainer_"+mid+" table td"), function(i, td) {
                if(i % 2 == 0) { // legendcolorbox
                    $("#spinnerbr_"+mid).append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + mid + "_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                    $("#legend_" + mid + "_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                } else { // legendlabel
                    var label = $(this).html();
                    $("#legend_" + mid + "_" + (i-1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                }
            });
        }

        function update(mid) {
            $.each(data[mid], function(objid, _data) {
                getData(mid, objid);
            });
            drawLog(mid); {# koennte sein, dass das in dem complete besser aufgehoben ist. dito der aufruf in document.ready() #}
        }

        function jq(myid) {
            return myid.replace(/[*]/g, "\\$&")
        }

        function get_Data(gwmac) {
        }
    </script>


    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>Vorlauftemperaturregelung</li>
    </ul>

    {% for m, values in mischer.items %}
        <ul data-role="listview" data-divider-theme="c" id="mrlv{{ m }}" style="margin-top: -1px">
            <li data-role="list-divider" id='spinnerbrli_{{ m }}'>Vorlauftemperaturregelung {{ values.name }}</li>
            <li id="diag">
                <div style="height: 400px" id="placeholder_{{ m }}"></div>
            </li>
            <li id='spinner_{{ m }}'><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
            <li id='spinnerbrli'><div id="spinnerbr_{{ m }}" style="white-space: normal; overflow: auto"></div></li>

            <div style="display: none" id="legendcontainer_{{ m }}"></div>

            <li style="padding: 0">
                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="zrcol" style="margin: 0">
                    <h5 style="margin: -1 10 -1 10px">Zeitraum</h5>
                    <input type="datetime-local" data-clear-btn="false" name="von" id="von_{{ m }}" value="" data-mini="true" style="margin: 0;"/>
                    <input type="datetime-local" data-clear-btn="false" name="bis" id="bis_{{ m }}" value="" data-mini="true" style="margin: 0"/>
                    <a href="#" onclick='update("{{ m }}");' data-role="button" data-mini="true">Anzeigen</a>
                </div>
            </li>

        </ul>
    {% endfor %}

    </ul>

{% endblock %}
