{% extends "m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %}userprofile page{% endblock %}
{% block mheader %}
    <a href="/m_benutzerverwaltung/{{ haus.id }}/edit/{{ profile.id }}/"
       class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <form action='.' method="post" data-ajax='false' id='addressform'>{% csrf_token %}

        <ul data-role="listview" data-divider-theme='c' style="margin-top: -38px">
            <li data-role="list-divider">{% trans "Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "bearbeiten" %}</i></li>
            <li data-role="fieldcontain">
                <label for='vorname'>{% trans "Vorname" %}</label>
                <input type='text' id='vorname' name='vorname' value="{{ profile.vorname }}"/>
            </li>
            <li data-role="fieldcontain">
                <label for='nachname'>{% trans "Nachname" %}</label>
                <input type='text' id='nachname' name='nachname' value="{{ profile.nachname }}"/>
            </li>
            <li data-role="fieldcontain">
                <label for='email'>{% trans "Email" %}</label>
                <input type='text' id='email' name='email' value="{{ profile.user.email }}"/>
            </li>
            {% if error %}
            <li style="color: #cb0963;">
                {{ error }}
            </li>
            {% endif %}
            <li data-icon='false'>
                <a href="#" onclick="$('#addressform').get(0).submit();" style="text-align:center">
                    {% trans "Speichern" %}
                </a>
            </li>

        </ul>
    </form>

{% endblock %}