{% extends "m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %}userprofile page{% endblock %}
{% block mheader %}
    <a href="/m_benutzerverwaltung/{{ haus.id }}/edit/{{ profile.id }}/"
       class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <form action="." method="post" id='pwform'>{% csrf_token %}
        <ul data-role="listview" data-divider-theme="a" style="margin-top: -38px">
            <li data-role="list-divider">
                {% trans "Passwort für Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "ändern" %}
            </li>
            {% if req_old_pw %}
            <li data-role="fieldcontain">
                <label for="oldpw">{% trans "Altes Passwort:" %}</label>
                <input type="password" name="oldpw" id="oldpw"/>
            </li>
            {% endif %}
            <li data-role="fieldcontain">
                <label for="newpw1">{% trans "Neues Passwort:" %}</label>
                <input type="password" name="newpw1" id="newpw1"/>
            </li>
            <li data-role="fieldcontain">
                <label for="newpw2">{% trans "Wiederholen:" %}</label>
                <input type="password" name="newpw2" id="newpw2"/>
            </li>
            {% if error %}
            <li style="color: #cb0963;">
                {{ error }}
            </li>
            {% endif %}
            <li data-icon='false'>
                <a href="#" onclick="$('#pwform').get(0).submit();" style="text-align:center">
                    {% trans "Speichern" %}
                </a>
            </li>

        </ul>
    </form>

{% endblock %}