{% extends "m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %}userprofile page{% endblock %}
{% block mheader %}
    <a href="/m_benutzerverwaltung/{{ haus.id }}/"
       class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <ul style="margin-top: -38px" data-role="listview" data-divider-theme="a" class="ui-alt-icon sort">
        <li data-role="list-divider">{% trans "Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "bearbeiten" %}</li>
        <li>
            <a href="/m_benutzerverwaltung/{{ haus.id }}/profile/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Namen und Emailadresse ändern</a>
        </li>
        <li>
            <a href="/m_benutzerverwaltung/{{ haus.id }}/password/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Passwort ändern</a>
        </li>
        {% if request.user.userprofile.get != profile %}
        <li>
            <a href="/m_benutzerverwaltung/{{ haus.id }}/access/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Zugriffsrechte ändern</a>
        </li>
        <li>
            <a href="/m_benutzerverwaltung/{{ haus.id }}/delete/{{ profile.id }}/" onclick="return confirm('Sind Sie sich sicher?')" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Benutzer löschen</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}

