{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einstellungen{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFVp_gdGwoLb6x_mlXNSWPjhsG6Fx-1ak&sensor=false"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#addressform").submit(function(e) {
                    var self = this;
                    e.preventDefault();
                    codeAddress();
                    return false;
                });
            });
            function codeAddress() {
                try {
                    var geocoder = new google.maps.Geocoder();
                } catch (ReferenceError) {
                    $("#lat").val(0);
                    $("#lng").val(0);
                    $("#addressform").get(0).submit();
                }
                var address = $("#str").val() + ' ' + $("#nr").val() + ' ' + $("#plz").val() + ' ' + $("#ort").val();
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#lat").val(results[0].geometry.location.lat());
                        $("#lng").val(results[0].geometry.location.lng());
                        $("#addressform").get(0).submit();
                    } else if(status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                        $("#lierror").html('Unbekannte Adresse.');
                        $("#lierror").show();
                    } else {
                        $("#lierror").html('Fehler. Bitte probieren Sie es sp&auml;ter wieder. Administratoren wurden verst&auml;ndigt.');
                        $("#lierror").show();
                    }
                });
            }
        </script>
        <form action='/' method="post" data-ajax='false' id='addressform'>{% csrf_token %}
            <input type="hidden" name="lat" id="lat"/>
            <input type="hidden" name="lng" id="lng"/>
            <input type="hidden" name="redirect" value="/config/"/>
            <ul data-role="listview" data-divider-theme='a'>

                <li data-role="list-divider">Haus editieren</li>
                <li>
                    <label for='str'>Strasse</label>
                    <input type='text' id='str' name='str' value="{{address.0}}"/>
                </li>
                <li>
                    <label for='nr'>Hausnummer</label>
                    <input type='text' id='nr' name='nr' value="{{address.1}}"/>
                </li>
                <li>
                    <label for='plz'>Postleitzahl</label>
                    <input type='number' id='plz' name='plz' value="{{address.2}}"/>
                </li>
                <li>
                    <label for='ort'>Ort</label>
                    <input type='text' id='ort' name='ort' value="{{address.3}}"/>
                </li>
                <li style="color:#cb0963; display:none;" id='lierror'></li>
                <li>
                    <input type="submit" data-role="button" value="Speichern" >
                </li>
            </ul>
        </form>
<br><br><br><br><br>
{% endblock %}

