{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hardware/er/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if raum.id %}
        {% if user.userprofile.get.role != 'K' %}<a href="/m_setup/{{haus.id}}/hardware/redit/?rdel={{ raum.id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>{% endif %}
    {% else %}
        {% if etage.id %}
            {% if user.userprofile.get.role != 'K' %}<a href="/m_setup/{{haus.id}}/hardware/eedit/?edel={{ etage.id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>{% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block mcontent %}
    {% if raum %}
        <form action="/m_setup/{{haus.id}}/hardware/redit/{% if raum.id %}{{raum.id}}/{% endif %}" method="post" data-ajax="false" id='rform'>{% csrf_token %}
            <ul data-role="listview">
                <li>
                    <label for="etagenid">Etage</label>
                    <select name="etagenid" id="etagenid" data-mini="true">
                        {% for etage in etagen %}
                            {% if etage.id == raum.etage.id %}
                                <option selected="selected" value="{{etage.id}}">{{etage.name}}</option>
                            {% else %}
                                <option value="{{etage.id}}">{{etage.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="raumname">Raumname</label>
                    <input type="text" name="raumname" id="raumname" value="{{raum.name}}" data-clear-btn="true" data-mini="true" autocapitalize="on"/>
                </li>
                <li>
                    <label for="icon">Icon</label>
                    <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                    {% for icon in icons %}
                    <label for="{{ icon }}"><img src="/static/icons/{{ icon }}.png" width="40px"/></label>
                    <input type="radio" name="icon" id="{{ icon }}" value="{{ icon }}" {% if raum.icon == icon %}checked="checked"{% endif %}> </input>
                    {% endfor %}
                    </fieldset>
                    </div>
                </li>
                {% if raumerror %}
                    <li style="color:#cb0963">
                        {{raumerror}}
                    </li>
                {% endif %}
                <li data-icon='false'>
                    <a href="#" onclick="$('#rform').get(0).submit();" style="text-align:center">Speichern</a>
                </li>
            </ul>
        </form>
    {% else %}
        <form action="/m_setup/{{haus.id}}/hardware/eedit/{% if etage.id %}{{etage.id}}/{% endif %}" method="post" data-ajax="false" id='eform'>{% csrf_token %}
        <ul data-role="listview">
            {% if etagenerror %}
                <li style="color:#cb0963">
                    {{etagenerror}}
                </li>
            {% endif %}
            <li>
                <label for="raumname">Etagenname</label>
                <input type="text" name="etagenname" id="etagenname" value="{{etage.name}}" data-clear-btn="true" autocapitalize="on"/>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="$('#eform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>
    {% endif %}
{% endblock %}

