{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    {% if step == 0 %}
        <a href="/m_setup/{{haus.id}}/hardware/s/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
{#    <script type="text/javascript">#}
{##}
{#        $(document).on('pageshow', function() {#}
{##}
{#        });#}
{#    #}
{#    </script>#}

    {% if not step %}

        <form action="/m_setup/{{haus.id}}/hardware/smult/" method="post" data-ajax="false" id='smult1form'>{% csrf_token %}
            <input type="hidden" name="step" id="step" value="{{ step }}"/>
            <ul data-role="listview">
                {% if serror %}
                    <li style="color:#cb0963; white-space:normal;" id="error">
                        {% autoescape off %}{{serror}}{% endautoescape %}
                    </li>
                {% endif %}

                <li>
                    <label for="ssns">Sensor IDs</label>
                    <textarea name="ssns" id="ssns" rows="20" cols="23" required>{{ ssns }}</textarea>

                    <small>
                        Fügen Sie hier bitte die Seriennummern der anzulegenden Sensoren ein. Fügen Sie bitte
                        eine Seriennummer pro Zeile ohne weitere (Trenn-)Zeichen ein.
                    </small>
                </li>

                <li>
                    <label for="gateway">Gateway</label>
                    <select id="gateway" name="gateway" data-mini="true">
                        {% if gateways|length == 1 %}
                            <option value="{{ gateways.0.id }}">{{ gateways.0.name }} / {{ gateways.0.description }}</option>
                        {% else %}
                            {% if gateways|length > 1 %}
                                <option value="0">Sensoren an unterschiedlichen Gateways / keine Auswahl</option>
                                {% for gateway in gateways %}
                                    <option value="{{gateway.id}}">{{gateway.name}} {{ gateway.description }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="-1">kein Gateway vorhanden</option>
                            {% endif %}
                        {% endif %}
                    </select>
                </li>

                <li data-icon='false'>
                    <button type="submit" name="done">Speichern und Beenden</button>
                    <button type="submit" name="cont">Weiter mit Zuordnungen</button>
                </li>

            </ul>
        </form>

    {% else %}

        <form action="/m_setup/{{haus.id}}/hardware/smult/" method="post" data-ajax="false" id='smult2form'>{% csrf_token %}
            <input type="hidden" name="step" id="step" value="{{ step }}"/>
            {% if error %}
                <ul data-role="listview">
                    <li>
                        Es wurden folgende Fehler / Warnungen ausgegeben:
                        <br/><br/>
                        {{ error }}
                        <br/><br/>
                        Überprüfen Sie bitte, dass in den Räumen mit neuen Sensoren alle Sensoren die korrekte Rolle
                        angenommen haben und ggf. zugeordnete Ausgänge weiterhin zum jeweiligen Raum/Sensor gehören.
                    </li>
                    <li data-icon='false'>
                        <a href="#" onclick="window.location='/m_setup/{{ haus.id }}/hardware/s/';" style="text-align:center">Weiter</a>
                    </li>
                </ul>
            {% else %}
                <ul data-role="listview">
                    {% for ssn in ssns %}
                        <li data-role="list-divider">
                            {{ ssn }}
                            <input type="hidden" name="ssn" value="{{ ssn }}"/>
                        </li>
                        <li>
                            {% if gateways %}
                                <select name="gateway_{{ ssn }}" id="gateway_{{ ssn }}" data-mini="true" class="gwselect">
                                    <option value="">Gateway auswählen</option>
                                    {% for gateway in gateways %}
                                        <option value="{{gateway.id}}">{{gateway.name}} {{ gateway.description }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% if gw %}
                                    <input type="hidden" name="gateway_{{ ssn }}" value="{{ gw.id }}"/>
                                {% endif %}
                            {% endif %}
                            <select name="raum_{{ ssn }}" data-mini="true">
                                {% for r in eundr %}
                                    <option value="{{ r.0 }}">{{ r.1 }}</option>
                                {% endfor %}
                            </select>
                            {% if ssn|slice:":2" == "26" %}
                                <select name="sensortyp_{{ ssn }}" id="sensortyp_{{ ssn }}" data-mini="true">
                                    <option value="lf">Luftfeuchtigkeitssensor</option>
                                </select>
                            {% else %}
                                <select name="sensortyp_{{ ssn }}" id="sensortyp_{{ ssn }}" data-mini="true">
                                    <option value="0">keine Funktion</option>
                                    <option value="rt">Raumtemperatursensor</option>
                                    <option value="rl">Rücklaufsensor</option>
                                    <option value="at">Außentemperatursensor</option>
                                    {% if gw and gw.is_heizraumgw %}
                                        <option value="hr">Heizraumsensor</option>
                                    {% endif %}
                                </select>
                                <input type="number" name="sensor_offset_{{ ssn }}" id="sensor_offset_{{ ssn }}" data-mini="true" placeholder="Korrekturoffset" step="any"/>
                            {% endif %}
                        </li>
                    {% endfor %}

                    <li data-icon='false'>
                        <button type="submit" name="done">Speichern</button>
                    </li>
                </ul>
            {% endif %}
        </form>

        <script type="text/javascript">
            $(document).on("pageshow", function() {

            });
            var hrgws = [{% for gw in gateways %}{% if gw.is_heizraumgw %}{{ gw.id }}{% endif %}{% endfor %}];
            $(".gwselect").change(function() {
                var ssn = $(this).attr('name').split('_').slice(1,9).join("_");
                if(hrgws.indexOf(parseInt($('#gateway_'+ssn).val())) > -1) {
                    $("#sensortyp_"+ssn).find("option[value='at']").after(new Option("Heizraumsensor", "hr"));
                    $("#sensortyp_"+ssn).selectmenu("refresh", true);
                } else {
                    $("#sensortyp_"+ssn).find("option[value='hr']").remove();
                    $("#sensortyp_"+ssn).selectmenu("refresh", true);
                }
            })
        </script>

    {% endif %}
{% endblock %}

