{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        getSensors();
    });

    function chgpage() {
        var sort = $("#sortselect").val();
        window.location = "/m_setup/{{ haus.id }}/hardware/s/?sort=" + sort;
    }

    function getSensors() {
        var sort = $("#sortselect").val();
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/sc/?sort=" + sort,
            dataType: "json",
            success: function(data) {
                $(".ss").remove(); // wg. page caching
                var raum = "";
                var idx = 0;
                $.each(data, function() {
                    $.each(this, function(r, sensors) {
                        $("#screated").after("<li data-role='list-divider' id='head" + idx + "' class='ss'>" + r + "</li>");
                        raum = r;
                        if(!sensors.length) {
                            $("#head" + idx).after("<li class='ss'>-</li>")
                        }
                        $.each(sensors, function(i, data) {
                            var keys = [];
                            for (var key in data) {
                                keys.push(key);
                            }
                            $.each(keys, function(j, k) {
                                if(k.indexOf("PT1000") > -1) {
                                    $("#head" + idx).after("<li data-icon='arrow-r' class='ss' id='s" + data[k][0] + "'><a href='/m_setup/{{ haus.id }}/hardware/sedit/" + k.split(' ').join('_') + "/' style='padding-top: 0; padding-bottom: 0;'><span id='sdet" + data[k][0] + "'><h5 style='margin-top: 0; font-weight: normal;'><span style='color:" + data[k][4] + ";font-size:x-large'>&#8226;</span> " + k + " - " + data[k][2] + "</h5></span></a></li>");
                                } else if(k.indexOf("Digital") > -1) {
                                    $("#head" + idx).after("<li data-icon='arrow-r' class='ss' id='s" + data[k][0] + "' style='padding-top: 0; padding-bottom: 0;'><a href='/m_setup/{{ haus.id }}/hardware/sedit/" + k.split(' ').join('_') + "/' style='padding-top: 0; padding-bottom: 0;'><span id='sdet" + data[k][0] + "'><h5 style='margin-top: 0; font-weight: normal;'><span style='color:" + data[k][4] + ";font-size:x-large'>&#8226;</span> " + k + " - " + data[k][2] + "</h5></span></a></li>");
                                } else {
                                    $("#head" + idx).after("<li data-icon='arrow-r' class='ss' id='s" + data[k][0] + "'><a href='/m_setup/{{haus.id}}/hardware/sedit/" + k + "/' style='padding-top: 0; padding-bottom: 0;'><span id='sdet" + data[k][0] + "'><h5 style='margin-top: 0; font-weight: normal;'><span style    ='color:" + data[k][4] + ";font-size:x-large'>&#8226;</span> " + k + " - " + data[k][2] + "</h5></span></a></li>");
                                }
                                if (data[k][3]) {
                                    $("#sdet" + data[k][0]).append("<p>Letzte &Uuml;bertragung: " + data[k][3] + "</p>");
                                } else {
                                    $("#sdet" + data[k][0]).append("<p>Letzte &Uuml;bertragung: -</p>");
                                }
                            });
                        });
                        idx++;
                    });
                });
                $("#spinner").hide();
                $("#slist").listview('refresh');
            }
        });
    }
</script>


<ul data-role="listview" data-divider-theme="a" id="slist">
    <li data-role="list-divider" id="ssort">Sortierung</li>
    <li id="screated">
        <select id="sortselect" name="sortselect" onchange="chgpage();">
            <option value="rooms" {% ifequal sort "rooms" %}selected="selected"{% endifequal %}>Sortierung nach R&auml;umen</option>
            <option value="lines" {% ifequal sort "lines" %}selected="selected"{% endifequal %}>Sortierung nach Sensorlinien</option>
            <option value="last" {% ifequal sort "last" %}selected="selected"{% endifequal %}>Sortierung nach letzter &Uuml;bertragung</option>
        </select>
    </li>

    <span id='spinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/hardware/sedit/' data-icon='gear'>Sensor anlegen</a>
            </li>
            <li>
                <a href='/m_setup/{{ haus.id }}/hardware/smult/' data-icon='gear'>Sensoren anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}