{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
    <a href="/m_raum/{{ raum.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none"></a>
{% endblock %}

{% block mcontent %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role='list-divider'>Sensoren</li>
        {% if sensoren|length %}
            {% for sensor, last, marker in sensoren %}
                <li>
                    <span style='color:{{ marker }}'>&#8226;</span> {{ sensor.name }} {{ sensor.description }}
                    <p>
                        <br/>
                        {% if last %}
                            <p>&nbsp;&nbsp;&nbsp;{{ last.0|floatformat:2 }} &deg;C am {{ last.1|date:"d.m. \u\m H:i" }}</p>
                        {% else %}
                            <p>&nbsp;&nbsp;&nbsp;&uuml;bertr&auml;gt nicht.</p>
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        {% else %}
            <li>-</li>
        {% endif %}
    </ul>
{% endblock %}