{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Offsets{% endblock %}

{% block mheader %}
    <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/modul-offsets/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<style type="text/css">

</style>
<script type="text/javascript">

</script>

<ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Offsets-Modul</li>
        {% for id, params, active in offset_params %}
            <li class="offsets-row">
                <a href="/m_setup/{{ haus.id }}/offsets/edit/{{ id }}/" class="">{{ params.name }}<br/>
                <small>
                    {% if active %} <span style="color: #cb0963;">Offsets aktiv</span> {% else %} Offsets nicht aktiv {% endif %}
                </small></a>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href=' /m_setup/{{ haus.id }}/offsets/edit/' data-icon='gear'>anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}
